<div class="body" style="margin: 20px auto 20px; padding: 30px 130px 30px 130px">


      <div class="jumbotron">
        <form style="margin: 0 auto 0 auto; width: 300px">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p>Not a member?<button mat-button color="primary">Create an Account</button></p> 
          </form>

      </div>
</div>

<!-- <div class="boxLogin"> -->

<!-- <div>
    <form style="text-align: center; margin: 0 20px 0 20px">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


  
<mat-card id="card" style="text-align: center;">
	<mat-card-title>
		login
	</mat-card-title>

	<mat-card-content>

		<mat-form-field>
			<input matInput placeholder="email">
		</mat-form-field><br/>

		<mat-form-field>
			<input matInput placeholder="password">
		</mat-form-field><br/>
		<button mat-raised-button color="primary" style="margin-right:5px;">login</button>
		<button mat-raised-button color="primary" style="margin-right:5px;">register</button>

</mat-card-content> -->