<p>Why rent when you could buy a share? Please enter the address to search below.</p>
<!-- <div class="form-group">
    <input>
</div>
<button class="btn btn-primary">Search</button> -->

<!-- <mat-toolbar>
    <div class="form-group">
        <input>
    </div>
    <mat-form-field>
        <input matInput placeholder="password">
    </mat-form-field>
    <button class="btn btn-primary">Search</button>
</mat-toolbar> -->

<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <button class="btn btn-primary">Search</button>
</div>